DATABASE_URL=url_de_conexion_a_postgresql
PORT=puerto_de_ejecucion_del_servidor
JWT_ACCESS_SECRET=secreto_personalizado_para_jwt_access
JWT_REFRESH_SECRET=secreto_personalizado_para_jwt_refresh
NODE_ENV=entorno_de_ejecucion_del_servidor # production | development

# URL pública del frontend en Vercel (sin slash final), usada por CORS
FRONTEND_URL=url_publica_del_frontend_en_vercel_sin_slash_final


# ---  NO USADOS --- #
MONGOURI=uri_de_conexion_a_mongodb

# Application API Key
API_KEY=clave_personalizada_para_acceso_a_la_api

# Para session
SESSION_SECRET=secreto_personaliado_para_sessiones

# Para JWT
JWT_ACCESS__EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
COOKIE_SECRET=secreto_personalizado_para_cookies

# Para mailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=correo_electronico_de_gmail
SMTP_PASS=clave_16_digitos_app_google

#Para Stripe
STRIPE_WEBHOOK_SECRET=secreto_personalizado_para_webhooks_de_stripe
STRIPE_SECRET_KEY=clave_secreta_de_stripe

# Para Mercado Pago
MERCADOPAGO_TOKEN=token_de_acceso_de_mercado_pago

# Para manejo de archivos locales en el servidor
UPLOAD_MAX_SIZE=5242880                 # Image Max Size (5MB)
ALLOWED_IMAGE_TYPES=jpg,jpeg,png,webp   # Allowed Image Format

# Cadena de conexión a PostgreSQL usando sequelize
DB_HOST=localhost       # Database Host
DB_PORT=5432            # Database Port
DB_NAME=ecommerce       # Database Name
DB_USER=postgres        # Database User
DB_PASSWORD=123         # Database Password
DB_DIALECT=postgres     # Database Dialect
DB_SYNC=force           # Database Sync Mode: false, alter, force

#Google OAuth
CLIENTID=id_de_cliente_de_google_oauth
SECRETID=secreto_de_cliente_de_google_oauth
CALLBACKURL=url_de_redireccionamiento_de_google_oauth

# Para Chat con IA
openAIKey=clave_api_openai
openAIModel=modelo_de_openai

# Para certificado HTTPS
SSL_KEY_PATH=ruta_privada_del_certificado_ssl
SSL_CERT_PATH=ruta_publica_del_certificado_ssl